<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link href="/css/signup.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="container">
    <div class="sign-up-container">
      <form action="/member/signUp" th:object="${memberDto}" method="post">
        <h1>Create Account</h1>
        <div class="social-links">
          <div>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <span>or use your email for registration</span>
        <input type="text" th:field="*{username}" placeholder="Id" required>
        <input type="password" th:field="*{password}" placeholder="Password" required>
        <input type="text" th:field="*{name}" placeholder="Name" required>
        <input type="email" th:field="*{email}" placeholder="Email" required>
        <button type="submit" class="form_btn">Sign Up</button>
      </form>
    </div>
    <div class="sign-in-container">
      <!--      <form action="/member/signIn" th:object="${memberDto}" method="post">-->
        <form action="/member/signIn" method="post">
        <h1>Sign In</h1>
        <div class="social-links">
          <div>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <span>or use your account</span>
<!--        <input type="text" id="signInId" th:field="*{username}" placeholder="Id" required>-->
<!--        <input type="password" id="signInPassword" th:field="*{password}" placeholder="Password" required>-->
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="password" placeholder="password" required>
        <button type="submit" class="form_btn">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        <h1>Welcome Back</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button id="signIn" class="overlay_btn">Sign In</button>
      </div>
      <div class="overlay-right">
        <h1>Hello, Friend</h1>
        <p>Enter your personal details and start journey with us</p>
        <button id="signUp" class="overlay_btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  const signUpBtn = document.getElementById("signUp");
  const signInBtn = document.getElementById("signIn");
  const container = document.querySelector(".container");

  signUpBtn.addEventListener("click", () => {
    container.classList.add("right-panel-active");
  });
  signInBtn.addEventListener("click", () => {
    container.classList.remove("right-panel-active");
  });
</script>
</html>